@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="../Content/Site.css">

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Widget</button>

    <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container" style="background-color:#f1f1f1">
               <h3>Notifications</h3>
                <button>Task 1</button>
                <button>Task 2</button>
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
